# Dependências e Builds
**/node_modules
**/temp
**/tmp
dist
frontend/dist
src-tauri/target
src-tauri/binaries
target/
.yarn

# Antigo backend Node.js (legado migrado para star-core)
/src/
/scripts/
Dockerfile

# Banco de dados e arquivos locais
queue.db*
*.db
*.db-journal
*.db-wal
*.db-shm
*.log

# Mídias e binários locais de teste
/ffmpeg*
/ffprobe*
*.mkv
*.mp4
*.avi
target

# Sistema
.DS_Store
Thumbs.db